* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #343540;
    color: white;
}

h1{
    font-size: 5rem;
    text-align: center;
    margin-bottom: 2rem;
}

ol li{
    margin-bottom: 1.2rem;
    font-size: 1.3rem;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

